.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: auto;
  min-height: 83px;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px 8px;
}

.searchbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 944px;
  height: 51px;
  margin: 4px 8px;
  padding: 0px 8px;
  background: #efefef;
  border-radius: 24px;
}

.searchbar i {
  margin: 0 9px 0 17px;
  font-size: 13px;
}

.searchbar input {
  width: 100%;
  border: none;
  background-color: transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  height: 51px;
  margin: 4px 34px 4px 40px;
}

.icons i {
  font-size: 22px;
}
